#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_strip:
	dh_strip --dbg-package=libticonv-dbg

override_dh_clean:
        dh_clean --exclude=build/mingw/ticonv.rc~

.PHONY: override_dh_strip
